@import '../../styles.scss';

.app-other-container {
    display: flex;
    justify-content: center;
    padding: 56px 0;
    .app-other-content {
        width: 66.66%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        .app-desc {
            display: flex;
            gap: 100px;
            .app-desc-left {
                display: flex;
                flex: 2 0 0;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                .app-text-button {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--Spacing-x8, 32px);
                    align-self: stretch;
                    .app-text {
                        color: var(--Text-Base, #0E0E0C);

                        /* Typesettings/md/regular */
                        font-family: "Source Sans Pro";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                    }                    
                }
            }
            .app-desc-right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                flex: 1 0 0;
                .app-desc-img {
                    width: 271px;
                    height: 311px;
                    flex-shrink: 0;
                    background: url('/assets/images/other-1.png') lightgray 0px -64.129px / 100.613% 141.24% no-repeat;
                }
            }
        }
        .app-collections {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 48px;
            .app-collection {
                display: flex;
                align-items: flex-start;
                gap: 48px;
                align-self: stretch;
                .app-col-img {
                    display: flex;
                    width: 300px;
                    height: 300px;
                    padding-top: 8px;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 10px;
                    img {
                        width: 300px;
                        height: 211px;
                        // flex-shrink: 0;
                    }
                }
                .app-col-desc {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    flex: 1 0 0;
                    .app-text {
                        display: flex;
                        flex-direction: column;
                        align-self: stretch;
                        color: #000;

                        /* Typesettings/md/regular */
                        font-family: "Source Sans Pro";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                        gap: 24px;
                        p {
                            margin: 0;
                        }                    
                    }                   
                }
            }
        }
    }
    a {
        text-decoration: none;
        color: #706E5C;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            color: $color-gold-link;
        }
    }
}

@media screen and (max-width: 1100px) {
    .app-other-container {
        padding: 28px 0;
        .app-other-content {
            width: 80%
        }
    }    
}

@media screen and (max-width: 800px) {
    .app-other-container {
        padding: 28px 0;
        .app-other-content {
            width: 90%;
            gap: 24px;
            .app-desc {
                flex-direction: column;
                .app-desc-right {
                    display: none;
                }
            }
            .app-collections {
                gap: 24px;
                .app-collection {
                    flex-direction: column;
                    gap: 12px;
                    .app-col-img {
                        display: none;
                        width: 100%;
                        height: 80px;
                        overflow: hidden;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .app-col-desc {
                        gap: 12px;
                        .app-text {
                            gap: 12px;
                        }
                    }

                }
            }
        }
    }    
}

@media screen and (max-width: 600px) {
    .app-other-container {
        .app-other-content {
            width: 90%;
        }
    }
}