<div class="app-other-container">
    <div class="app-other-content">
        <div class="app-desc">
            <div class="app-desc-left">
                <h1>{{'other-coll-mzk' | translate}}</h1>
                <div class="app-text-button">
                    <div class="app-text">Mollova sbírka tvoří hlavní soubor starých map a vedut v MZK, není však zdaleka jediný. Mezi další důležité celky patří Schramova sbírka vedut a portrétů, Sbírka starých grafik, Sbírka starých map, Sbírka map 19. a 20. století a potom řada map vevázaných jako přílohy do knih.</div>
                    <app-button variant="primary" size="large" iconRight="export-white.png">
                        <span>{{'find-more' | translate}}</span>
                    </app-button>
                </div>
            </div>
            <div class="app-desc-right">
                <div class="app-desc-img"></div>
            </div>
        </div>
    </div>
</div>
