<div class="app-other-container">
    <div class="app-other-content">
        <div class="app-desc">
            <div class="app-desc-left">
                <h1>{{'other-coll-mzk' | translate}}</h1>
                <div class="app-text-button">
                    <div class="app-text" *ngIf="currentLang === 'cs'">Mollova sbírka tvoří hlavní soubor starých map a vedut v MZK, není však zdaleka jediný. Mezi další důležité celky patří Schramova sbírka vedut a portrétů, Sbírka starých grafik, Sbírka starých map, Sbírka map 19. a 20. století a potom řada map vevázaných jako přílohy do knih.</div>
                    <div class="app-text" *ngIf="currentLang === 'en'">The Moll collection is the main set of antique maps and vedute in the MZK, but certainly not the only one. Other important ensembles include the Schram Collection of Vedute and Portraits, the Old Print Collection, the Collection of Old Maps, the Collection of Maps from the 19th and 20 Centuries, and apart from that, a number of maps bound as supplements to books.</div>
                    <div class="app-text" *ngIf="currentLang === 'de'">Die Sammlung Moll bildet den Grundstock der Altkarten und Veduten in der MZK (Mährischen Landesbibliothek), sie ist jedoch bei Weitem nicht die einzige.</div>
                    <a href="https://www.digitalniknihovna.cz/mzk/" target="_blank">
                        <app-button variant="primary" size="large" iconRight="export-white.png">
                            <span>{{'find-more' | translate}}</span>
                        </app-button>
                    </a>
                </div>
            </div>
            <div class="app-desc-right">
                <a routerLink="../mollova-sbirka/uuid:79a2351f-572d-46cd-b839-0578eedd68a3" class="app-desc-img"></a>
            </div>
        </div>
        <div class="app-collections">
            <div class="app-collection">
                <a href="https://grafiky.mzk.cz/record/uuid:498e0e22-407d-49e3-bd1a-7653a2c63ced" target="_blank" class="app-col-img">
                    <img src="assets/images/uuid-498e0e22-407d-49e3-bd1a-7653a2c63ced.jpg" alt="Schramova sbirka" />
                </a>
                <div class="app-col-desc" *ngIf="currentLang === 'cs'">
                    <h2 class="app-title">Schramova sbírka</h2>
                    <div class="app-text">
                        <p>Počátky Schramovy sbírky sahají až do druhé poloviny 19. století. Původně nahodile získávané grafiky Františkova (dnes Moravského zemského) muzea byly zásluhou kustoda Moritze Trappa a později knihovníka Wilhelma Schramma shromážděny v muzejní knihovně a rozděleny do dvou tematických celků. První byl zaměřen na veduty Brna, později byl záběr rozšířen na celou Moravu. Cílem zakladatelů bylo shromáždit obrazovou dokumentaci ke každému z moravských měst. V meziválečném období byl soubor rozšířen Bedřichem Václavkem o mladší obrazovou dokumentaci. Druhý celek pak tvoří portréty (především litografie) osobností společenského a politického života Moravy a zčásti Vídně. Celá Schramova sbírka byla zanesena do elektronického katalogu a digitalizována.</p>
                        <p>Vyhledávat v ní lze pomocí rejstříku signatur v katalogu historických fondů (Schramova sbírka vedut - signatury začínající "Skř.1-0091.416; Schramova sbírka portrétů - signatury začínající "Skř.2J", "Skř.2K" a "Skř.2L").</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'en'">
                    <h2 class="app-title">The Schram Collection</h2>
                    <div class="app-text">
                        <p>The beginnings of the Schram Collection date back to the second half of the 19th century. Originally randomly obtained graphics of the Francis Museum (now Moravské zemské muzeum) were, thanks to museum curator Moritz Trapp and later librarian Wilhelm Schram, assembled in the museum library and divided into two thematic units. The first focused on vedute of Brno and later on extended to the whole of Moravia. The collection's founders intended to gather visual documentation for each Moravian town. In the inter-war period the set was extended by Bedřich Václavek with more recent documentation. The second part consists of portraits (mainly lithographies) of personalities from the social and political life of Moravia, and partially also Vienna. The entire Schram Collection has been registered into the electronic catalogue and digitised.</p>
                        <p>The collection may be accessed using the shelfmark index of the historical resources catalogue (Schram Collection of Vedute – shelfmarks beginning with "Skř.1-0091.416; Schram Collection of Portraits - shelfmarks beginning with " Skř.2J "," Skř.2K "and" Skř.2L").</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'de'">
                    <h2 class="app-title">Die Sammlung Schram</h2>
                    <div class="app-text">
                        <p>The beginnings of the Schram Collection date back to the second half of the 19th century. Originally randomly obtained graphics of the Francis Museum (now Moravské zemské muzeum) were, thanks to museum curator Moritz Trapp and later librarian Wilhelm Schram, assembled in the museum library and divided into two thematic units. The first focused on vedute of Brno and later on extended to the whole of Moravia. The collection's founders intended to gather visual documentation for each Moravian town. In the inter-war period the set was extended by Bedřich Václavek with more recent documentation. The second part consists of portraits (mainly lithographies) of personalities from the social and political life of Moravia, and partially also Vienna. The entire Schram Collection has been registered into the electronic catalogue and digitised.</p>
                        <p>The collection may be accessed using the shelfmark index of the historical resources catalogue (Schram Collection of Vedute – shelfmarks beginning with "Skř.1-0091.416; Schram Collection of Portraits - shelfmarks beginning with " Skř.2J "," Skř.2K "and" Skř.2L").</p>
                    </div>
                </div>
            </div>
            <div class="app-collection">
                <a href="https://grafiky.mzk.cz/record/uuid:26c86351-1ee7-4ecb-889e-850ee7e59c38" target="_blank" class="app-col-img">
                    <img src="assets/images/uuid-26c86351-1ee7-4ecb-889e-850ee7e59c38.jpg" alt="Sbirka starych grafik" />
                </a>
                <div class="app-col-desc" *ngIf="currentLang === 'cs'">
                    <h2 class="app-title">Sbírka starých grafik</h2>
                    <div class="app-text">
                        <p>Vedle obsahově jednotné Schramovy sbírky vlastní MZK řadu dalších grafik a fotografií, v rámci které jsou až do dnešních dnů řazeny dokumenty vzniklé před rokem 1920. Různorodý soubor obsahuje také řadu moravik, součástí sbírky je např. obsáhlé album fotografií Brna "<a href="https://vufind.mzk.cz/Record/mzk.MZK03-001077035" target="_blank">Bruna antiqua</a>".</p>
                        <p>Vyhledávat v ní lze pomocí rejstříku signatur v katalogu historických fondů (signatury začínající "Skř" vyjma těch, které jsou uvedeny u Schramovy sbírky). Podstatná část sbírky byla v posledních letech digitalizována v rámci projektu <a href="https://pro.europeana.eu/project/europeanatravel" target="_blank">Europeana Travel</a>.</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'en'">
                    <h2 class="app-title">Graphic Collection</h2>
                    <div class="app-text">
                        <p>Apart from the coherent Schram Collection, the MZK owns a collection containing many other graphics and photographs, extended until today with documents created before 1920. This heterogeneous collection also contains a range of so-called "Moravicum", e.g. a large set of photos of Brno called "<a href="https://vufind.mzk.cz/Record/mzk.MZK03-001077035" target="_blank">Bruna antiqua</a>".</p>
                        <p>It may be searched in using the shelfmark index of the catalogue of historical stocks (shelfmarks beginning with 'Skř', except those listed in the Schram Collection index). A substantial part of the collection has recently been digitised as part of the <a href="https://pro.europeana.eu/project/europeanatravel" target="_blank">Europeana Travel</a> project.</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'de'">
                    <h2 class="app-title">Die Sammlung Altgrafiken</h2>
                    <div class="app-text">
                        <p>Neben der Sammlung Schram, die inhaltlich ein Ganzes bildet und in der sich bis heute Dokumente befinden, die vor 1920 entstanden, besitzt die MZK eine Reihe weiterer Grafiken und Fotografien. Diese heterogene Kollektion beinhaltet auch eine Reihe von mährischen Realien, z.B. das umfangreiche Album "<a href="https://vufind.mzk.cz/Record/mzk.MZK03-001077035" target="_blank">Bruna antiqua</a>." mit Fotografien von Brünn.</p>
                        <p>Die Recherche ist über den Signaturen-Index im Katalog der historischen Bestände möglich (die Signaturen beginnen mit "Skř" außer jenen, die in der Sammlung Schram angeführt sind). Ein Großteil der Sammlung wurde in den letzten Jahren im Rahmen des Projekts <a href="https://pro.europeana.eu/project/europeanatravel" target="_blank">Europeana Travel</a> digitalisiert.</p>
                    </div>
                </div>
            </div>
            <div class="app-collection">
                <a href="https://www.digitalniknihovna.cz/mzk/uuid/uuid:56a15b66-a430-4e05-8f45-93d54ff366a2" target="_blank" class="app-col-img">
                    <img src="assets/images/uuid-56a15b66-a430-4e05-8f45-93d54ff366a2.jpg" alt="Sbirka starych map" />
                </a>
                <div class="app-col-desc" *ngIf="currentLang === 'cs'">
                    <h2 class="app-title">Sbírka starých map</h2>
                    <div class="app-text">
                        <p>Jedná se o soubor starých map vydaných před rokem 1850, který byl vytvořen především delimitacemi v rámci knihovny. Celá Sbírka starých map je zanesena v elektronickém knihovním katalogu a její větší část již byla digitalizována.</p>
                        <p>Vyhledávat v ní lze pomocí rejstříku signatur v katalogu starých tisků (signatury začínající "STMpa"). Podstatná část sbírky byla v posledních letech digitalizována v rámci projektu <a href="https://pro.europeana.eu/project/europeanatravel" target="_blank">Europeana Travel</a>.</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'en'">
                    <h2 class="app-title">Collection of Old Maps</h2>
                    <div class="app-text">
                        <p>This is a collection of antique maps issued before 1850, created primarily by delimitations within the library. The entire collection of antique maps was registered in the electronic library catalogue and to a greater extent has also been digitized.</p>
                        <p>You may search within the collection using the shelfmark index of the catalogue of old prints (shelfmarks beginning with "STMpa"). A substantial part of the collection has recently been digitised as part of the <a href="https://pro.europeana.eu/project/europeanatravel" target="_blank">Europeana Travel</a> project.</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'de'">
                    <h2 class="app-title">Die Sammlung Altkarten</h2>
                    <div class="app-text">
                        <p>Hier handelt es sich um eine Sammlung von Karten, die vor dem Jahre 1850 herausgegeben wurden. Sie entstand vor allem durch Abgrenzungen innerhalb der Bibliothek. Die gesamte Sammlung Altkarten ist im elektronischen Bibliothekskatalog eingetragen und zum größten Teil digitalisiert.</p>
                        <p>Die Recherche ist über den Signaturen-Index im Katalog der alten Drucke möglich (die Signaturen beginnen mit "STMpa"). Der Großteil der Sammlung wurde in den letzten Jahren im Rahmen des Projektes <a href="https://pro.europeana.eu/project/europeanatravel" target="_blank">Europeana Travel</a> digitalisiert.</p>
                    </div>
                </div>
            </div>
            <div class="app-collection">
                <a href="https://www.digitalniknihovna.cz/mzk/uuid/uuid:5f7c600e-9610-4b4f-ba5e-918d87e8f7c4" target="_blank" class="app-col-img">
                    <img src="assets/images/uuid-5f7c600e-9610-4b4f-ba5e-918d87e8f7c4.jpg" alt="Sbirka map 19. a 20. stoleti" />
                </a>
                <div class="app-col-desc" *ngIf="currentLang === 'cs'">
                    <h2 class="app-title">Sbírka map 19. a 20. století</h2>
                    <div class="app-text">
                        <p>Sbírka map 19. a 20. století představuje živý fond, v němž je ukládána soudobá mapová produkce od druhé poloviny 19. století. Soubor je bohužel z větší části dostupný pouze prostřednictvím původních katalogizačních lístků, na postupném převádění do elektronického katalogu a digitalizaci se pracuje. Mapy jsou dostupné v digitální knihovně <a href="https://www.digitalniknihovna.cz/mzk/search?doctypes=map&from=1800&to=2025" target="_blank">Kramerius</a>.</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'en'">
                    <h2 class="app-title">Collection of Maps from the 19th and 20th Centuries</h2>
                    <div class="app-text">
                        <p>The Collection of Maps from the 19th and 20th centuries is an open stock serving the storage of contemporary map production from the second half of the 19th century onwards. Unfortunately, the collection is largely available only through the original card catalogue. Gradual conversion into an electronic catalogue is under way. Maps are available in digital library <a href="https://www.digitalniknihovna.cz/mzk/search?doctypes=map&from=1800&to=2025" target="_blank">Kramerius</a>.</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'de'">
                    <h2 class="app-title">Die Kartensammlung 19. und 20. Jahrhundert</h2>
                    <div class="app-text">
                        <p>Die Kartensammlung 19. und 20. Jahrhundert stellt einen lebendigen Bestand dar, in dem die zeitgenössische Kartenproduktion seit der zweiten Hälfte des 19. Jahrhunderts dokumentiert wird. Die Sammlung ist leider zu großen Teilen nur über den ursprünglichen Zettelkatalog zugänglich, an der fortschreitenden Überführung in den elektronischen Katalog wird gearbeitet. Die Karten sind in der digitalen Bibliothek <a href="https://www.digitalniknihovna.cz/mzk/search?doctypes=map&from=1800&to=2025" target="_blank">Kramerius</a> erhalten.</p>
                    </div>
                </div>
            </div>
            <div class="app-collection">
                <a href="https://www.digitalniknihovna.cz/mzk/uuid/uuid:1191f20b-910b-11e0-82d6-0050569d679d" target="_blank" class="app-col-img">
                    <img src="assets/images/uuid-1191f20b-910b-11e0-82d6-0050569d679d.jpg" alt="Atlasy" />
                </a>
                <div class="app-col-desc" *ngIf="currentLang === 'cs'">
                    <h2 class="app-title">Atlasy</h2>
                    <div class="app-text">
                        <p>Od samého počátku muzejní knihovny, která byla základem dnešní MZK, byly v jejích fondech obsaženy atlasy. Z části se ještě dokonce jednalo o původní sběratelské atlasy - svazky, které si majitel nechal vyvázat z vlastních, původně samostatných map. Tato praxe však během 1. poloviny 19. století zcela ustoupila nakladatelským atlasům, tedy dílům, která byla už jako celek distribuována.</p>
                        <p>Moravská zemká knihovna vlastní jak kosmografie 16. století, které atlasům předcházely, tak reprezentativní soubor atlasové tvorby 18.-20. století. Jedná se především o různá vydání atlasů z produkce rodinné firmy Homannů, pozdější Schraemblův atlas, ale například i rukopisný portolánový atlas, který patří mezi nejkrásnější cimélie v celém fondu MZK. Pro atlasová díla 19. a první poloviny 20. století bohužel neexistuje vyhovující evidence, prozatím je nutné se spokojit se starými katalogizačními lístky. Část atlasů byla v posledních letech zdigitalizována v rámci projektu <a href="https://pro.europeana.eu/project/europeanatravel" target="_blank">Europeana Travel</a>.</p>
                        <!-- <p>Přehled dosud digitalizovaných atlasů naleznete zde.</p> -->
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'en'">
                    <h2 class="app-title">Atlases</h2>
                    <div class="app-text">
                        <p>From the very beginnings of the museum library, which was the foundation for today's MZK, its stocks included atlases. Sometimes they were even the original collector atlases - initially separate maps that the owners had bound on their own. This practice, however, completely subsided by the mid-19th century and gave way to published atlases, i.e. works that have been distributed as a whole.</p>
                        <p>The Moravská zemská knihovna owns both, works of cosmography from the 16th century that preceded atlases, as well as a representative set of 18th to 20th century atlas production. These are mostly different editions of atlases from the Homann family workshop, the younger Schraembl's atlas but also, for example, a maritime manuscript atlas, which is among the most beautiful cimelies in the whole of the MZK stock. Unfortunately, we do not have a satisfactory way of evidencing atlas works of the 19th and the first half of the 20th century and have to make do with the old system of catalogue cards for the time being. Some of the atlases have been digitized in recent years as part of the Europeana Travel project.</p>
                        <!-- <p>An overview of atlases that have already been digitised can be found here.</p> -->
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'de'">
                    <h2 class="app-title">Atlanten</h2>
                    <div class="app-text">
                        <p>Von Anbeginn der Museumsbibliothek an, die die Grundlage der heutigen MZK war, befanden sich in ihren Beständen Atlanten. Teilweise handelte es sich sogar noch um originale Sammleratlanten – Bände, die sich der Eigentümer aus eigenen, ursprünglich selbstständigen Karten binden ließ. Diese Praxis wich jedoch in der ersten Hälfte des 19. Jahrhunderts den Verlagsatlanten, also Werken, die bereits fertig gebunden distribuiert wurden.</p>
                        <p>Die Mährische Landesbibliothek besitzt sowohl Kosmografien aus dem 16. Jahrhundert, die den Atlanten vorausgingen, als auch eine repräsentative Sammlung der Atlaskartografie vom 18.-20. Jahrhundert. Es handelt sich dabei vor allem um verschiedene Ausgaben von Atlanten aus der Produktion des Familienbetriebs Homann, später Schrämbl Atlas, aber z.B. auch ein handgezeichneter Portolan-Atlas, der zu den schönsten Zimelien des Gesamtbestandes der MZK gehört. Das Atlaswerk des 19. und der ersten Hälfte des 20. Jahrhunderts ist leider nicht entsprechend erfasst, vorläufig muss man sich mit dem alten Zettelkatalog zufriedengeben. Ein Teil der Atlanten wurden in den letzten Jahren im Rahmen des Projekts Europeana Travel digitalisiert.</p>
                        <!-- <p>Eine Übersicht über die bisher digitalisierten Atlanten finden Sie hier.</p> -->
                    </div>
                </div>
            </div>
            <div class="app-collection">
                <div class="app-col-img">
                    <img src="assets/images/other-7.png" alt="Mapove knizni prilohy" />
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'cs'">
                    <h2 class="app-title">Mapové knižní přílohy</h2>
                    <div class="app-text">
                        <p>Řada map byla vevázána jako přílohy do knih. Pro staré tisky vydané před rokem 1800 existuje základní evidence těchto děl, na své důkladnější zpracování však teprve čekají a vyhledávání v nich prozatím není možné.</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'en'">
                    <h2 class="app-title">Maps as Supplements to Books</h2>
                    <div class="app-text">
                        <p>A number of maps were bound as supplements to books. There is a basic system of inventory for such works for old prints published prior to 1800. Thorough processing, however, still awaits and as such searching through these works is not yet possible.</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'de'">
                    <h2 class="app-title">Kartenbeilagen</h2>
                    <div class="app-text">
                        <p>Eine Reihe von Karten wurde als Beilage in Büchern eingebunden. Alte Drucke, die vor 1800 erschienen, sind grob erfasst, sie warten jedoch noch auf eine gründliche Überarbeitung der Erfassung, daher ist eine Recherche in diesen Dokumenten derzeit nicht möglich.</p>
                    </div>
                </div>
            </div>
            <div class="app-collection">
                <a href="https://www.digitalniknihovna.cz/mzk/uuid/uuid:5182ebd5-20ef-41a9-b1b3-7fda92fb0d33" target="_blank" class="app-col-img">
                    <img src="assets/images/uuid-5182ebd5-20ef-41a9-b1b3-7fda92fb0d33.jpg" alt="Nastenne mapy" />
                </a>
                <div class="app-col-desc" *ngIf="currentLang === 'cs'">
                    <h2 class="app-title">Nástěnné mapy</h2>
                    <div class="app-text">
                        <p>Ve skladu lze najít též malou sbírku nástěnných map, které naleznete v knihovním katalogu pod signaturou začínající písmeny "MPR".</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'en'">
                    <h2 class="app-title">Wall Maps</h2>
                    <div class="app-text">
                        <p>In the library stock you may find a small set of wall maps that have been completely registered into the library catalogue. Their shelfmark begins with the letters "MPR"; their listing is therefore easily accessible via the index in the library catalogue.</p>
                    </div>
                </div>
                <div class="app-col-desc" *ngIf="currentLang === 'de'">
                    <h2 class="app-title">Wandkarten</h2>
                    <div class="app-text">
                        <p>Im Bestand befindet sich eine nicht besonders große Sammlung von Wandkarten, die bereits komplett in den Bibliothekskatalog eingetragen wurden. Ihre Signaturen beginnen mit den Buchstaben "Mpr"; die Liste ist also einfach über den Index im Bibliothekskatalog aufzurufen.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
