<div class="app-container grid-container">
    <div class="app-left col-3">
        <div class="app-logo"></div>
        <div class="app-title">
            <h2>Mollova mapová sbírka</h2>
        </div>
    </div>
    <div class="app-right col-9">
        <div class="app-nav">
            <div class="app-nav-item">Hledat</div>
            <div class="app-nav-item">O sbírce map</div>
            <div class="app-nav-item">Další sbírky MZK</div>
            <div class="app-nav-item">Kontakty</div>
        </div>
        <div class="app-lang">
            <app-button variant="outline" iconLeft="cze.svg">
                <span>Čeština</span>
            </app-button>
        </div>
    </div>
</div>

