@import '../../styles.scss';

.app-container {
    border-bottom: 1px solid #EFF2F5;
    background: #FFF;
    padding: 0px var(--Spacing-x6, 24px); 
    .app-left {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        align-self: stretch;
        cursor: pointer;
        .app-logo {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            background: url('../../assets/images/moll-logo.png') rgb(255, 255, 255) 50% / cover no-repeat;
        }
        .app-title {
            color: $color-text-primary;
            line-height: 10px;
        }
    }
    .app-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--Spacing-x4, 16px);
        flex: 1 0 0;
        .app-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--Spacing-x4, 16px);
            flex: 1 0 0;
            .app-nav-item {
                display: flex;
                padding: var(--Spacing-x3, 12px);
                align-items: flex-start;
                gap: var(--Spacing-x3, 12px);
                /* Typesettings/md/medium */
                font-family: "Source Sans Pro";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                cursor: pointer;
                &:hover {
                    border-bottom: 2px solid #D8B600;
                }
            }
        }
        .app-lang {
            display: flex;
            width: 207px;
            height: var(--Spacing-x10, 40px);
            justify-content: flex-end;
            align-items: center;
            .app-icon-hide {
                display: none;
            }
        }
    }
}