<div class="app-container">
    <div class="app-parts">
        <div class="app-part-faq">
            <h1 class="app-title">{{'faq' | translate}}</h1>
            <div class="app-faqs">
                <div class="app-faq" *ngFor="let faq of faqs; let i = index">
                    <div class="app-q" [class.open]="faq.isOpen" (click)="toggleFaq(i)">
                        {{faq.q | translate}}
                        <img [src]="faq.isOpen ? 'assets/icons/minus-circle-grey.png' : 'assets/icons/add-circle.png'" alt="faq" />
                    </div>
                    <div class="app-a" *ngIf="faq.isOpen">{{faq.a | translate}}</div>
                </div>
            </div>
        </div>
        <div class="app-part-contact">
            <div class="app-address">
                <img src="assets/images/mzk.png" alt="address" />
                <div class="app-text">
                    <h2 class="app-title">{{'mzk' | translate}}</h2>
                    <div class="app-lines">
                        <div class="app-line">
                            <img src="assets/icons/building-4.png" alt="address" />
                            <a href="https://mapy.cz/s/nacebobaka" target="_blank">Kounicova 65a, 601 87 Brno</a>
                        </div>
                        <div class="app-line">
                            <img src="assets/icons/sms.png" alt="address" />
                            <a href="mailto:mapy@mzk.com">mapy&#64;mzk.cz</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="https://www.mzk.cz/" target="_blank" class="app-logo">
                <img src="assets/images/logo-mzk.png" alt="logo" />
            </a>
        </div>
    </div>
    <div class="app-footer">
        <div class="app-text">{{'created-by' | translate}}</div>
        <div class="app-logo">
            <img src="assets/images/logo-trinera.png" alt="logo" />
        </div>
    </div>
</div>
