// src/styles/_buttons.scss

.btn {
    display: inline-flex; /* Flexbox pro uspořádání ikon a textu */
    align-items: center; /* Vertikální zarovnání */
    justify-content: center; /* Horizontální zarovnání */
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    text-align: center;
    text-decoration: none;
    padding: $padding-medium;
    border-radius: $border-radius;
    // border: 1px solid transparent;
    cursor: pointer;
    outline: none;
  
    &:hover {
      background-color: $color-primary;
      &:focus {
        outline: none;
      }
    }
  
    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
      box-shadow: none;
    }
    &:focus-visible {
      outline: none;
    }
  
    /* Default umístění ikon před textem */
    .btn-icon-left {
      display: flex;
      margin-right: 8px; /* Mezery mezi textem a ikonou */
      align-items: center;
      gap: var(--Spacing-x3, 12px);
      border-radius: 4px;
      
    }
  
    .btn-icon-right {
      display: flex;
      margin-left: 8px; /* Mezery mezi textem a ikonou */
      align-items: center;
      gap: var(--Spacing-x3, 12px);
      border-radius: 4px;
    }
  
    /* Varianty tlačítek */
    &.btn-primary {
      background-color: $color-btn-primary;
      color: $color-text-light;
      border: 1px solid $color-btn-primary;
  
      &:hover {
        background-color: $color-btn-primary-hover;
        box-shadow: 0 6px 8px $color-shadow-hover;
        border: 1px solid $color-btn-primary-hover;
      }
      &:active {
        background-color: $color-btn-primary-pressed;
      }
    }

    &.btn-secondary {
      background-color: $color-secondary;
      color: $color-text-dark;
  
      &:hover {
        background-color: $color-secondary;
        box-shadow: 0 6px 8px $color-shadow-hover;
      }
    }
  
    &.btn-outline {
      background-color: transparent;
      color: $color-text-dark;
      border: 1px solid #ffffff;
  
      &:hover {
        background-color: $color-primary;
        color: $color-text-dark;
        border-radius: var(--spacing-x-05, 2px);
        border-color: var(--Boarder-Tertiary-Hover, #BA9D00);
        .btn-icon-left,.btn-icon-right {
          border-radius: var(--spacing-x-05, 2px);
          border-color: var(--Boarder-Tertiary-Hover, #BA9D00);
        }
        // box-shadow: 0 6px 8px $color-shadow-hover;
      }
      .btn-icon-left,.btn-icon-right {
        border: 1px solid var(--Boarder-Bright, #E8E8E3);
      }
    }
  
    /* Velikosti tlačítek */
    &.btn-small {
      padding: 4px 12px;
      font-size: 14px;
    }
  
    &.btn-large {
      padding: 16px 32px;
      font-size: 18px;
    }
  
    /* Tlačítka s ikonami */
    &.btn-icon {
      .btn-icon-left,
      .btn-icon-right {
        display: flex;
        align-items: center;
      }
    }
  
    /* Focus state pro přístupnost */
    &:focus {
      outline: 2px solid $color-primary;
      outline-offset: 2px;
    }
  }

  @media screen and (max-width: 600px) {
    .btn {
      &.btn-large {
        font-size: 16px;
        padding: 12px 24px;
      }
    }
  }
  