@import '../../../../styles.scss';

.app-container {
    // display: flex;
    width: 100%;
    margin: 24px;
    background: var(--BG-Main-Bright, #ffffff);
    height: fit-content;
    .app-content {
        display: flex;
        // height: 100%;
        padding: var(--Spacing-x12, 48px);
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        .app-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }
        .app-cards {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--Spacing-x8, 32px);
            align-self: stretch;
            .app-cards-row {
                // display: flex;
                // flex-wrap: wrap;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Dynamické sloupce */
                // align-items: flex-start;
                gap: var(--Spacing-x8, 32px);
                justify-content: start;
                align-self: stretch;
                .app-card-item {
                    display: flex;
                    flex-direction: column;
                    // align-items: flex-start;
                    gap: var(--Spacing-x3, 12px);
                    flex: 1 0 0;
                    min-width: 250px;
                    max-width: 350px;
                    .app-card-image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: beige;
                        height: 120px;
                        width: calc(100%);
                        position: relative;
                        overflow: hidden;
                        border-radius: 2px;
                        box-sizing: border-box; /* Zahrne všechny okraje a padding do výpočtu velikosti */
                      
                        img {
                          width: 100%; /* Obrázek pokryje celý rodičovský prvek */
                          height: 100%;
                          object-fit: cover;
                          object-position: center;
                        //   transition: transform 0.3s ease; /* Plynulá animace pro zvětšení obrázku */
                        }
                      
                        .app-card-overlay {
                          position: absolute;
                          box-sizing: border-box;
                          top: 0;
                          left: 0;
                          width: 100%;
                          height: 100%;
                          border: 8px solid transparent; /* Transparentní border pro výchozí stav */
                          border-radius: 2px;
                          pointer-events: none; /* Zabrání interakci s překryvem */
                        //   transition: border-color 0.3s ease; /* Plynulá změna barvy borderu */
                        }
                      
                        &:hover {                      
                          .app-card-overlay {
                            border-color: #d8b600; /* Změna barvy rámečku při hoveru */
                          }
                        }
                      }
                      
                    .app-card-content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        // width: 250px;
                        gap: var(--Spacing-x2, 8px);
                        align-self: stretch;
                        .app-card-title-container {
                            display: flex;
                            align-items: flex-start;
                            gap: var(--Spacing-x2, 8px);
                            align-self: stretch;
                            cursor: pointer;
                            text-decoration: none;
                            &:hover .app-card-title {
                                text-decoration: underline;
                                color: $color-gold-link;
                            }
                            .app-card-title {
                                display: -webkit-box;
                                display: box; /* Přidáno pro budoucí podporu */
                                flex: 1 0 0;
                                -webkit-box-orient: vertical;
                                box-orient: vertical; /* Přidáno pro budoucí podporu */
                                -webkit-line-clamp: 2;
                                line-clamp: 2; /* Přidáno pro kompatibilitu */
                                align-self: stretch;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .app-card-icon {
                                display: flex;
                                width: 24px;
                                padding: 2px 0px;
                                align-items: center;
                                gap: 10px;
                                &.hover-icon {
                                    display: none;
                                }
                            }
                        }
                        .app-card-title-container:hover .default-icon {
                            display: none;
                        }
                        .app-card-title-container:hover .hover-icon {
                            display: flex;
                            // width: 16px;
                        }
                        .app-card-text {
                            display: -webkit-box;
                            display: box; /* Přidáno pro budoucí podporu */
                            -webkit-box-orient: vertical;
                            box-orient: vertical; /* Přidáno pro budoucí podporu */
                            -webkit-line-clamp: 3;
                            line-clamp: 3; /* Přidáno pro kompatibilitu */
                            align-self: stretch;
                            overflow: hidden;
                            color: var(--Text-Secondary, #38372E);
                            text-overflow: ellipsis;
                        
                            /* Typesettings/sm/regular */
                            font-family: "Source Sans Pro";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 142.857% */
                        }
                        .app-card-sign {
                            color: var(--Text-Light, #706E5C);
                            /* Typesettings/sm/regular */
                            font-family: "Source Sans Pro";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 142.857% */
                        }
                        .app-card-catalog {
                            display: flex;
                            flex-direction: column;
                            gap: var(--Spacing-x2, 8px);
                        }
                        .app-card-link {
                            display: flex;
                            align-items: center;
                            gap: var(--Spacing-x2, 8px);
                            cursor: pointer;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                            .app-card-link-text {
                                color: var(--Text-Btn-Tertiary-Default, #706E5C);

                                /* Typesettings/sm/regular */
                                font-family: "Source Sans Pro";
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px; /* 142.857% */
                                // text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-decoration-skip-ink: none;
                                text-decoration-thickness: auto;
                                text-underline-offset: auto;
                                text-underline-position: from-font;
                            }
                            .app-card-link-icon {
                                display: flex;
                                width: 16px;
                                height: 16px;
                                justify-content: center;
                                align-items: center;
                                &.default-icon {
                                    display: flex;
                                }
                                &.hover-icon {
                                    display: none;
                                }
                            }                          
                        }
                        .app-card-link:hover .app-card-link-text {
                            color: var(--Text-Link, #7A6600);
                            text-decoration: underline;
                        }
                        .app-card-link:hover .default-icon {
                            display: none;
                        }
                        .app-card-link:hover .hover-icon {
                            display: flex;
                            width: 16px;
                        }
                    }
                }
                .app-card-manuscript {
                    display: flex;
                    flex-direction: row;
                    .app-card-image {
                        display: flex;
                        justify-content: center; /* Zarovná obrázek na střed horizontálně */
                        align-items: flex-start; /* Zarovná obrázek k horní části */
                        width: 100px; /* Nastavte požadovanou šířku */
                        height: 150px; /* Výška, kterou chcete zobrazit */
                        overflow: hidden; /* Skryje spodní část obrázku */
                        img {
                            width: 100%; /* Přizpůsobení šířky */
                            height: auto; /* Zachování poměru stran */
                        }
                        &:hover {                      
                            .app-card-overlay {
                              display: none;
                            }
                          }
                    }
                    .app-card-parts {
                        display: flex;
                        
                        /* Typesettings/sm/regular */
                        font-family: "Source Sans Pro";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; /* 142.857% */
                        gap: 5px;
                        .app-part {
                            display: flex;
                        }
                        a {
                            color: var(--Text-Link, #7A6600);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
.app-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 100;
}
.mat-mdc-progress-spinner { --mdc-circular-progress-active-indicator-color: #d8b600; }

@media screen and (max-width: 600px) {
    .app-container {
        margin: 0;
        .app-content {
            padding: 28px 18px;
        }
    }
}

