<div class="app-container" *ngIf="collection">
    <div class="app-content">
        <div class="app-title">
            <h1>{{getTitle()}}</h1>
            <div class="text-base" [innerHTML]="getDescription()"></div>
        </div>
        <div class="app-cards">
            <div class="app-cards-row" *ngIf="children && children.length > 0">
                <div class="app-card" *ngFor="let item of children">
                    <!-- IF NOT MANUSCRIPT -->
                    <div class="app-card-item" *ngIf="item['model'] !== 'manuscript'">
                        <a class="app-card-image" [routerLink]="['/mollova-sbirka', item.pid]">
                            <div class="app-card-overlay"></div>
                            <img [src]="getChildrenImage(item)" loading="lazy" alt="Image" />
                        </a>
                        <div class="app-card-content">
                            <a class="app-card-title-container" [routerLink]="['/mollova-sbirka', item.pid]">
                                <h5 class="app-card-title">
                                    {{getChildrenTitle(item)}}
                                </h5>
                                <img class="app-card-icon default-icon" src="assets/icons/arrow.png">
                                <img class="app-card-icon hover-icon" src="assets/icons/arrow-gold.png">
                            </a>
                            <div class="app-card-text" [innerHTML]="getChildrenDescription(item)"></div>
                            <div class="app-card-signs">
                                <div class="app-card-sign" *ngIf="item.elasticDetails?.signatura_old">{{'old_signature' | translate}}: {{getOldShelfLocator(item.elasticDetails.signatura_old)}}</div>
                                <div class="app-card-sign" *ngIf="item?.shelf_locators?.[0]">{{'new_signature' | translate}}: {{item.shelf_locators[0]}}</div>
                                <div class="app-card-sign" *ngIf="item?.signature">{{'old_signature' | translate}}: {{item.signature}}</div>
                            </div>
                            <!-- <div class="app-card-catalog" *ngIf="item?.catalog_links?.length === 1">
                                <a class="app-card-link" href="https://www.digitalniknihovna.cz/mzk/uuid/{{item.catalog_links[0]}}" target="_blank">
                                    <div class="app-card-link-text">{{'molls-catalog' | translate}}</div>
                                    <img class="app-card-link-icon default-icon" src="assets/icons/export.png" alt="export"/>
                                    <img class="app-card-link-icon hover-icon" src="assets/icons/export-gold.png" alt="export"/>
                                </a>
                            </div> -->
                            <div class="app-card-catalog app-more-catalogs" *ngIf="item?.catalog_links?.length > 0">
                                <div class="app-card-catalog-text">{{'molls-catalog' | translate}}</div>
                                <div class="app-card-links">
                                    <a class="app-card-link" *ngFor="let item of item?.catalog_links; let i = index" href="https://www.digitalniknihovna.cz/mzk/uuid/{{item}}" target="_blank">
                                        <div class="app-link-text">{{i+1}}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- IF MANUSCRIPT -->
                    <div class="app-card-item app-card-manuscript" *ngIf="item['model'] === 'manuscript'">
                        <!-- <a class="app-card-image" [href]="'https://digitalniknihovna.cz/mzk/uuid/' + item.pid" target="_blank">
                            <div class="app-card-overlay"></div>
                            <img [src]="item.thumb_pid.length > 0 ? getChildrenImage(item) : 'assets/icons/map.png' " />
                        </a> -->
                        <div class="app-card-content">
                            <div class="app-card-top">
                                <a class="app-card-title-container"
                                    [href]="'https://digitalniknihovna.cz/mzk/uuid/' + item.pid"
                                    target="_blank">
                                    <h5 class="app-card-title" >
                                        {{getChildrenTitle(item)}}
                                    </h5>
                                    <!-- <img class="app-card-icon default-icon" src="assets/icons/arrow.png">
                                    <img class="app-card-icon hover-icon" src="assets/icons/arrow-gold.png"> -->
                                    <img class="app-card-ext-icon default-icon" src="assets/icons/export.png">
                                    <img class="app-card-ext-icon hover-icon" src="assets/icons/export-gold.png">
                                </a>
                                <div class="app-card-parts" *ngIf="item?.parts?.length > 0">
                                    <div class="app-part" *ngFor=" let part of item?.parts; let i = index">
                                        <a  class="app-card-link" [href]="'https://digitalniknihovna.cz/mzk/uuid/' + part.pid" target="_blank">{{part.name}}</a>
                                        <span *ngIf="i+1 < item.parts.length">, </span>
                                    </div>

                                </div>
                            </div>
                            <div class="app-card-signs">
                                <div class="app-card-sign" *ngIf="item?.signature">{{'signature' | translate}}: {{item.signature}}</div>
                                <div class="app-card-sign" *ngIf="item?.shelf_locators?.[0]">{{'new_signature' | translate}}: {{item.shelf_locators[0]}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-children-loading" *ngIf="!children">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
</div>

