.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .app-header {
        flex: 0 0 auto;
        width: 100%;
    }
    .app-content {
        flex: 1 1 auto;
        overflow-y: auto
    }
}
// @media screen and (max-width: 600px) {
//     .app-container {
//         height: 82vh;
//     }  
// }
