
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$moll-frontend-primary: mat.define-palette(mat.$indigo-palette);
$moll-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$moll-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$moll-frontend-theme: mat.define-light-theme((
  color: (
    primary: $moll-frontend-primary,
    accent: $moll-frontend-accent,
    warn: $moll-frontend-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($moll-frontend-theme);

/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'styles/buttons';

/* Zajistí, že html a body mají plnou výšku a žádné okraje */
html, body {
    height: 100%;
    margin: 0;
}

/* Styles Header */
h1 {
    color: var(--Text-Base, #0E0E0C);
    /* Heading/H1/medium */
    font-family: Grenze;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px; /* 140% */
    margin: 0;
}
h2 {
    color: var(--Text-Base, #0E0E0C);

    /* Heading/H2/medium */
    font-family: Grenze;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 137.5% */
    margin: 0;
}
h3 {
    color: var(--Text-Base, #0E0E0C);

    /* Heading/H3/medium */
    font-family: Grenze;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 171.429% */
    margin: 0;
}
h4 {
    color: var(--Text-Base, #0E0E0C);

    /* Heading/H4/medium */
    font-family: Grenze;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    margin: 0;
}
h5 {
    color: var(--Text-Base, #0E0E0C);

    /* Heading/H5/medium */
    font-family: Grenze;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    margin: 0;
}

/* Proměnné */
$columns: 12;
$gutter: 16px;
$menu-width: 250px;

/* Breakpoints */
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

/* Barvy */
:root {
    --Text-Base: #0A0D10;
    --Boarder-Light: #EFF2F5;
    --Spacing-x10: 40px;
}

/* Typografie */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./assets/fonts/source-sans-pro/SourceSansPro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro Semibold';
    src: url('./assets/fonts/source-sans-pro/SourceSansPro-Semibold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Grenze';
    src: url('./assets/fonts/Grenze/Grenze-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/Karla/static/Karla-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General text styling */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
}


/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gutter;
    width: 100%;
    box-sizing: border-box;
}

/* Třídy pro jednotlivé sloupce */
.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }



/* Generování tříd pro různá rozlišení */
@each $breakpoint, $width in $breakpoints {
    @media (min-width: $width) {
        .#{$breakpoint}-col-1 { grid-column: span 1; }
        .#{$breakpoint}-col-2 { grid-column: span 2; }
        .#{$breakpoint}-col-3 { grid-column: span 3; }
        .#{$breakpoint}-col-4 { grid-column: span 4; }
        .#{$breakpoint}-col-5 { grid-column: span 5; }
        .#{$breakpoint}-col-6 { grid-column: span 6; }
        .#{$breakpoint}-col-7 { grid-column: span 7; }
        .#{$breakpoint}-col-8 { grid-column: span 8; }
        .#{$breakpoint}-col-9 { grid-column: span 9; }
        .#{$breakpoint}-col-10 { grid-column: span 10; }
        .#{$breakpoint}-col-11 { grid-column: span 11; }
        .#{$breakpoint}-col-12 { grid-column: span 12; }
    }
}
  
/* Specifické layout třídy */
.layout-three-column {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: $gutter;
}

.layout-two-column {
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: $gutter;
}
  
@media (max-width: 576px) {
    .layout-three-column,
    .layout-two-column {
        grid-template-columns: 1fr;
    }
}
.text-base {
   /* Typesettings/md/regular */
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */ 
}
.text-secondary {
    /* Typesettings/sm/semibold */
    font-family: "Source Sans Pro Semibold";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
