@import '../../../../styles.scss';

.app-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 96px);
    background-color: white;
    .app-content {
        height: 100%;
        width: 100%;
        overflow: auto;
        // overflow-x: hidden;
        // box-sizing: border-box;
        padding: var(--Spacing-x12, 48px);
        background: var(--BG-Main-Bright, #ffffff);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        .app-part-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            .app-title {
                align-self: stretch;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* Přesně dva řádky */
                line-clamp: 2; /* Přesně dva řádky */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis; /* Přidá "..." na konec textu */
            }
            .app-authors {
                align-self: stretch;
                color: var(--Text-Secondary, #38372e);
                /* Typesettings/lg/regular */
                font-family: 'Source Sans Pro';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 155.556% */
            }
        }
        .app-part-map {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            background: #f8f8f7;
            position: relative;
            .app-map {
                flex: 1 0 0;
                height: 80vh;
            }
            .app-map-actions {
                position: absolute;
                right: 8px;
                top: 8px;
                display: flex;
                padding: 8px 16px;
                justify-content: center;
                align-items: center;
                gap: 32px;
                border-radius: var(--spacing-x-05, 2px);
                background: rgba(255, 255, 255, 0.8);
                z-index: 100;
                .app-buttons {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .app-button {
                    display: flex;
                    padding: var(--Spacing-x2, 8px);
                    align-items: center;
                    gap: var(--Spacing-x2, 8px);
                    border-radius: var(--spacing-x-05, 2px);
                    background: var(--BG-Main-Primary-Default, #38372e);
                    cursor: pointer;
                    &:hover {
                        background: var(--BG-Main-Primary-Hover, #d8b600);
                    }
                    &:active {
                        background: var(--BG-Main-Primary-Active, #ba9d00);
                    }
                    img {
                        display: flex;
                        width: 16px;
                        height: 16px;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        .app-part-info {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
            .app-metadata-container {
                display: flex;
                width: 45%;
                padding: 8px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid var(--Boarder-Light, #f3f3f1);
                background: var(--BG-Main-Base, #fff);
                .app-metadata {
                    display: flex;
                    flex-direction: column;
                    padding: 24px;
                    // justify-content: center;
                    // align-items: center;
                    gap: 10px;
                    align-self: stretch;
                    background: var(--BG-Main-Light, #f8f8f7);
                    .app-metadata-item {
                        display: flex;
                        flex: 1 0 0;
                        color: var(--Text-Secondary, #38372e);
                        /* Typesettings/sm/regular */
                        font-family: 'Source Sans Pro';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; /* 142.857% */
                    }
                }
            }
            .app-other-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                flex: 1 0 0;
                .app-text {
                    align-self: stretch;
                    color: var(--Text-Secondary, #38372e);

                    /* Typesettings/sm/italic-regular */
                    font-family: 'Source Sans Pro';
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                }
                .app-line {
                    width: 342px;
                    height: 1px;
                    background: var(--Boarder-Light, #f3f3f1);
                }
                .app-links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    .app-link {
                        display: flex;
                        align-items: center;
                        gap: var(--Spacing-x2, 8px);
                        cursor: pointer;
                        text-decoration: none;
                        &:hover {
                            .app-link-text {
                                // color: var(--Text-Link-Hover, #D8B600);
                                text-decoration: underline;
                            }
                        }
                        .app-link-text {
                            color: var(--Text-Link, #7a6600);
                            /* Typesettings/sm/semibold2 */
                            font-family: 'Source Sans Pro';
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 16px; /* 114.286% */
                        }
                        img {
                            display: flex;
                            width: 16px;
                            height: 16px;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .app-moll-catalog {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    .app-title {
                        color: var(--Text-Btn-Tertiary-Default, #706e5c);
                        font-family: 'Source Sans Pro';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        text-decoration-style: solid;
                        text-decoration-skip-ink: none;
                        text-decoration-thickness: auto;
                        text-underline-offset: auto;
                        text-underline-position: from-font;
                    }
                    .app-catalog-links {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        .app-link {
                            display: flex;
                            padding: 0px 7px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 11px;
                            border: 1px solid var(--Boarder-Tertiary-Hover, #ba9d00);
                            text-decoration: none;
                            cursor: pointer;
                            .app-link-text {
                                color: var(--Text-Light, #706e5c);
                                text-align: center;
                                font-family: 'Source Sans Pro';
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                                text-decoration: none;
                                &:hover {
                                    color: var(--Text-Link-Hover, #d8b600);
                                }
                            }
                        }
                    }
                }
            }
        }
        .app-part-siblings {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--Spacing-x8, 32px);
            align-self: stretch;
            .app-siblings-row {
                // display: flex;
                // flex-wrap: wrap;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Dynamické sloupce */
                gap: var(--Spacing-x8, 32px);
                align-self: stretch;
                .app-card {
                    display: flex;
                    flex-direction: column;
                    // align-items: flex-start;
                    gap: var(--Spacing-x3, 12px);
                    flex: 1 0 0;
                    min-width: 250px;
                    .app-card-image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: beige;
                        height: 120px;
                        width: calc(100%);
                        position: relative;
                        overflow: hidden;
                        border-radius: 2px;
                        box-sizing: border-box; /* Zahrne všechny okraje a padding do výpočtu velikosti */

                        img {
                            width: 100%; /* Obrázek pokryje celý rodičovský prvek */
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            //   transition: transform 0.3s ease; /* Plynulá animace pro zvětšení obrázku */
                        }

                        .app-card-overlay {
                            position: absolute;
                            box-sizing: border-box;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border: 8px solid transparent; /* Transparentní border pro výchozí stav */
                            border-radius: 2px;
                            pointer-events: none; /* Zabrání interakci s překryvem */
                            //   transition: border-color 0.3s ease; /* Plynulá změna barvy borderu */
                        }

                        &:hover {
                            .app-card-overlay {
                                border-color: #d8b600; /* Změna barvy rámečku při hoveru */
                            }
                        }
                    }

                    .app-card-content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        // width: 250px;
                        gap: var(--Spacing-x2, 8px);
                        align-self: stretch;
                        .app-card-title-container {
                            display: flex;
                            align-items: flex-start;
                            gap: var(--Spacing-x2, 8px);
                            align-self: stretch;
                            cursor: pointer;
                            text-decoration: none;
                            &:hover .app-card-title {
                                text-decoration: underline;
                                color: $color-gold-link;
                            }
                            .app-card-title {
                                display: -webkit-box;
                                display: box; /* Přidáno pro budoucí podporu */
                                flex: 1 0 0;
                                -webkit-box-orient: vertical;
                                box-orient: vertical; /* Přidáno pro budoucí podporu */
                                -webkit-line-clamp: 2;
                                line-clamp: 2; /* Přidáno pro kompatibilitu */
                                align-self: stretch;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .app-card-icon {
                                display: flex;
                                width: 24px;
                                padding: 2px 0px;
                                align-items: center;
                                gap: 10px;
                                &.hover-icon {
                                    display: none;
                                }
                            }
                        }
                        .app-card-title-container:hover .default-icon {
                            display: none;
                        }
                        .app-card-title-container:hover .hover-icon {
                            display: flex;
                            // width: 16px;
                        }
                        .app-card-text {
                            display: -webkit-box;
                            display: box; /* Přidáno pro budoucí podporu */
                            -webkit-box-orient: vertical;
                            box-orient: vertical; /* Přidáno pro budoucí podporu */
                            -webkit-line-clamp: 3;
                            line-clamp: 3; /* Přidáno pro kompatibilitu */
                            align-self: stretch;
                            overflow: hidden;
                            color: var(--Text-Secondary, #38372e);
                            text-overflow: ellipsis;

                            /* Typesettings/sm/regular */
                            font-family: 'Source Sans Pro';
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 142.857% */
                        }
                        .app-card-sign {
                            color: var(--Text-Light, #706e5c);
                            /* Typesettings/sm/regular */
                            font-family: 'Source Sans Pro';
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 142.857% */
                        }
                        .app-card-link {
                            display: flex;
                            align-items: center;
                            gap: var(--Spacing-x2, 8px);
                            cursor: pointer;
                            .app-card-link-text {
                                color: var(--Text-Btn-Tertiary-Default, #706e5c);

                                /* Typesettings/sm/regular */
                                font-family: 'Source Sans Pro';
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px; /* 142.857% */
                                // text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-decoration-skip-ink: none;
                                text-decoration-thickness: auto;
                                text-underline-offset: auto;
                                text-underline-position: from-font;
                            }
                            .app-card-link-icon {
                                display: flex;
                                width: 16px;
                                height: 16px;
                                justify-content: center;
                                align-items: center;
                                &.hover-icon {
                                    display: none;
                                }
                            }
                        }
                        .app-card-link:hover .app-card-link-text {
                            color: var(--Text-Link, #7a6600);
                            text-decoration: underline;
                        }
                        .app-card-link:hover .default-icon {
                            display: none;
                        }
                        .app-card-link:hover .hover-icon {
                            display: flex;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
    .app-bottom-nav {
        // position: absolute;
        // bottom: 0;
        // width: 66%;
        display: flex;
        gap: 16px;
        width: 100%;
        padding: 0px var(--Spacing-x12, 48px);
        justify-content: space-between;
        align-items: center;
        border-radius: var(--Spacing-x1, 4px) var(--Spacing-x1, 4px) 0px 0px;
        background: #fff;
        box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.12);
        .app-nav-button {
            display: flex;
            padding: var(--Spacing-x3, 12px) var(--Spacing-x4, 16px);
            align-items: center;
            gap: var(--Spacing-x3, 12px);
            border-radius: var(--spacing-x-05, 2px);
            border: 1px solid var(--Boarder-Tertiary-Default, #38372e);
            cursor: pointer;
            .app-text {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--Text-Secondary, #38372e);
                /* Typesettings/lg/semibold */
                font-family: 'Source Sans Pro';
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px; /* 155.556% */
            }
            .app-icon {
                display: flex;
                width: 20px;
                height: 20px;
                justify-content: center;
                align-items: center;
            }
        }
        .app-right-nav {
            display: flex;
            align-items: center;
            gap: 24px;
            .app-text {
                width: 100%;
                color: var(--Text-Secondary, #38372e);
                /* Typesettings/md/regular */
                font-family: 'Source Sans Pro';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
            }
            .app-pagination {
                // width: 100%;
                display: flex;
                justify-content: flex-end;
                padding: 12px 0px;
                align-items: center;
                gap: 24px;
                .app-icons {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    .app-button {
                        display: flex;
                        padding: var(--Spacing-x3, 12px);
                        align-items: center;
                        gap: var(--Spacing-x3, 12px);
                        border-radius: var(--spacing-x-05, 2px);
                        border: 1px solid var(--Boarder-Tertiary-Disable, #d1d0c7);
                        cursor: pointer;
                        img {
                            width: 20px;
                            height: 20px;
                            flex-shrink: 0;
                        }
                        &.active-button {
                            border: 1px solid var(--Boarder-Tertiary-Default, #38372e);
                            &:hover {
                                border: 1px solid var(--Boarder-Tertiary-Default, #a08700);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .app-container {
        width: 100%;
        .app-content {
            box-sizing: border-box;
            padding: 28px 18px;
            .app-part-title {
                .app-title {
                    font-size: 24px;
                    line-height: 32px;
                }
                .app-authors {
                    display: none;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .app-part-map {
                .app-map {
                    height: 60vh;
                }
            }
            .app-part-info {
                flex-direction: column;
                .app-metadata-container {
                    width: 100%;
                    padding: 0;
                    .app-metadata {
                        padding: 16px;
                    }
                }
            }
            .app-part-siblings {
                .app-siblings-title {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }
        .app-bottom-nav {
            padding: 0px 18px;
            box-sizing: border-box;
            .app-nav-button {
                padding: 12px 16px;
                .app-text {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .app-right-nav {
                .app-text {
                    display: none;
                }
            }
        }
    }
}
