@import '../../styles.scss';

.app-container {
    display: flex;
    height: 100%;
    width: 100%;
    background: var(--BG-Main-Bright, #F3F3F1);
    // user-select: none;
    .app-menu {
        display: flex;
        width: $menu-width;
        flex-direction: column;
        overflow: auto;
        padding-left: var(--Spacing-x6, 24px);
        padding-right: var(--Spacing-x6, 24px);
        gap: var(--Spacing-x4, 16px);
        flex-shrink: 0;
        background-color: $color-primary;
        border-right: 1px solid var(--Boarder-Light, #F3F3F1);
    }
    .app-map {
        display: flex;
        justify-content: center;
        // height: 100%;
        overflow: hidden;
        background-color: #ffffff;
        width: calc(100% - 300px);
        margin: 20px;
        padding: 20px;
    }
    .app-content {
        display: flex;
        width: 100%;
        height: 100%;
        app-content {
            // display: flex;
            flex: 1 0 0;
            background: var(--BG-Main-Bright, #F3F3F1);
            flex-direction: column;
            gap: 10px;
            width: 100%;
            overflow: auto;
        }
    }
}

.interactive-map {
    width: auto;
    height: 100%;
}

.map-area {
    fill: transparent;
    // stroke: #38372E;
    stroke-width: 4;
    cursor: pointer;
    transition: fill 0.3s, stroke 0.3s;
    // fill: rgba(255, 204, 0, 0.20);
    // stroke-width: 3px;
    // stroke: var(--Boarder-Tertiary-Default, #38372E);
    // filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.40));
}

.map-area:hover, .map-area.highlight {
    fill: $color-gold-transparent ; /* Modrá barva s průhledností */
    stroke: #38372E;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .app-container {
        .app-menu {
           width: 200px;
        }
        .app-map {
            width: calc(100% - 200px);
            margin: 0;
            padding: 0;
        }
    }
    .map-area {
        stroke-width: 4;
        stroke: #38372E;
        fill: rgba(255, 204, 0, 0.20);
    }
}

@media screen and (max-width: 600px) {
    .app-container {
        .app-menu {
           display: none;
           width: 100%;
           box-sizing: border-box;
           &.app-visible {
               display: flex;
           }
        }
        .app-map {
            display: none;
        }
        .app-content {
            display: none;
            width: 100%;
            &.app-visible {
                display: flex;
            }
        }
    }
}
  
  